html{ 
    color: black;
    height: 100%; 
    width: 100%; 
    font-family:'Times New Roman', Times, serif;  
}

body{ 
    height: 100%;
    color:black; 
    font-family: 'Times New Roman', Times, serif;
    background-color: #1f7ea4;
}
h2 {
    color: black; 
 }

p{ 
    color: black;
}
veiligheid{ 
    color:black; 
}
.logo_en_naam{
   float: left;
   width: 1000;
   height: 150;
   font-style: ;
   font-size: ;
   color:
   background-color:#0f4c75ff; }
 
   a {
    color: black;
    text-decoration:none ;
   }

   <body>
   <style>
     # { color: #808080 } /* CSS link color */
   </style>
 </body>

 .wrapper {
    margin: 0 auto;
    width: 1000px;
 }