html{ 
    color: #0f4c75ff;
    height: 100%; 
    width: 100%; 
    font-family:'Times New Roman', Times, serif;  
}

*{
    margin: 0px;
    padding: 10px;
}

body{ 
    height: 100%;
    color:#0f4c75ff; 
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/diagmonds.png);}

#wrapper_index {
    width: 1300px;
}
header{ 
    margin-top: auto;
    color: #0f4c75ff; 
}

ul{ 
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }

nav { 
    float: center;
    text-align: center;
    li{
        margin: 0px;;
        float: left;
        color: white;
    }

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
    li a{
        display: inline-block;
        text-align: center;
        margin-right: auto;
        padding: 10px;
        border: 1px solid white;
        width: auto;
        background-color: #0f4c75ff;
    }
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

li.dropdown {
    display: inline-block;} 

.dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
.dropdown-content a:hover {background-color: #f1f1f1;}
      
.dropdown:hover .dropdown-content {
      display: block;
    }


h1{ 
    color:#0f4c75ff;
    font-weight: bold;
    width: 150;
    height: 150;
    text-align: center;
}
h2 {
    color: #0f4c75ff; 
 }

 h3{
    color: white;
 }

 h4{
    color: white;
 }
 a {
    color: black;
    text-decoration:none ;
}

 a:hover{ 
    color:blue; 
    text-decoration: underline;
 }

 p{ 
    color: #0f4c75ff;
}

h5{ 
    color:#0f4c75ff; 
}

article{
overflow: hidden;
#afbeelding_beginblz{
    float: left;
    width: 900px; 
    height: 600px;}
}

#Over_ons {
    float: left;
    width: 300px;
    a{
        color: blue;
        text-decoration: underline;
    }
}    

#Over_diamond_security {
    float: left;
    width: 300px;

}

footer {
    border: 1px solid white;
    background-color: rgb(56, 101, 185);
    width: 1200px;
    a {
        color: blue;
        text-decoration: underline;
    }
}

/*Ik ga hier verder met Digitale veiligheid*/

#wrapper_digitale_veiligheid {
    width: 1850px;
    clear: both;
    margin: auto;
}

#Digitale_veiligheid_inleiding {
    float: left;
    border: 1px solid white;
    width: 1809px;
    li{
        border: 1px solid white;
        width: 500px;
    }
}

#Vertrouwelijkheid {
float: left;
border: 1px solid white;
width: 900px;
background-color: white;
}

#Afbeelding.verificatie {
    width:auto;
    height:auto
}

#Integriteit {
    width: 905px;
    float: right;
    border: 1px double white;
    margin: 0px;
    padding: 0px;
}

#Beschikbaarheid{
    float: right;
    width: 905px;
    height: 656px;
    border: 1px solid white;
    margin: 0px;
    padding: 0px;
}

#Inhoud_digitale_veiligheid{
width: 200px;
    }

#Contact_digitale {
    border: 1px solid white;
    background-color: rgb(56, 101, 185);
    width: 1850px;
    a{
        color: blue; 
    }
}

/*Ik ga hier verder met bedrijgingen.html*/ 
#wrapper_bedrijgingen {
    width: 1200px;
    margin: auto;
}

#Inleiding_Bedrijgingen {
    width: 1100px;
    clear: both;
    h3{
        color: black;
    }
    background-color: white; 
    }
    ol{
        list-style-type: disc;
    }

#Zwakheden_in_de_architectuur {
    float: left;
}

#Zwakheden_in_de_architectuur2 {
    float: left;
    border: 1px solid white;
    height: 570px;
    width: 450px;
}
#afbeelding_drielagen {
    width: 300px;
    height: 300px;
    float: left;
}

#afbeelding_acces {

}

#Zwakheden_in_de_architectuur3 {
    border: 1px solid white;
    width: 620px;
    height: 570px;
    overflow: hidden;
    float: left;


}

#Zwakheden_in_de_architectuur4 {
    border: 1px solid white;
    width: 1093px;
    height: 200px;
    clear: both;
    float: left;

    margin: auto;
    a {
        color: blue;
        text-decoration: underline;
    }
}

#Zwakheden_in_de_communicatie {
    border: 1px solid white;
    float: left;
    width: 1100px;
    overflow: hidden;

}

#afbeelding_man_in_the_middel {
    width: 900px;

} 

#afbeelding_slotje {

}

#afbeelding_encryptievergelijking {
    float: left;
}

#Zwakheden_bij_gebruikers{
    border: 1px solid white;
    float: left;
    width: 1100px;
}

#Technieken {
    float: left;
    border: 1px solid white;

}

#Social_Engineering {
    float: left;
    border: 1px solid white;
    width: 1100px;

}

#Phising {
    float: left;
    border: 1px solid white;
    width: 1100px;

}

#Malware {
    float: left;
    border: 1px solid white;
    width: 1100px;

}

#Trojan_Horse {
    float: left;
    border: 1px solid white;
    width: 1100px;

}

#Worm {
    float: left;
    border: 1px solid white;
    width: 1100px;

}

#Virus {
    float: left;
    border: 1px solid white;
    width: 1100px;

}

#Spyware_en_Adware {
    float: left;
    border: 1px solid white;
    width: 1100px;

}

#Ransomware {
    float: left;
    border: 1px solid white;
    width: 1100px;

}

#Footer_Bedrijgingen {
    border: 1px solid white;
    background-color: rgb(56, 101, 185);
    width: 1120px;
    a{
        color: blue; 
    }
}

/*Ik ga hier verder met aanvallers en verdedigers*/ 

#wrapper_aanvallers_en_verdedigers {
    width: 1600px;
    margin: auto;
}

#Inleiding_aanvallers_en_verdedigers { 
    border: 1px solid white;
    width: 400px;
    height: 950px;
    float: left; 
}

#Computercriminaliteit { 
    border: 1px solid white;
    width: 500px;
    height: 950px;
    float: left;
    ol {
        list-style-type: disc;
    }
}

#Hacken_filmpje {
    float: left;
    overflow: hidden;

}

#Computervredebreuk {
    border: 1px solid white;
    overflow: hidden; 
    width: 600px;
    height: 100px;
}

#Ethisch_hacken {
    border: 1px solid white;
    overflow: hidden;
    width: 600px;
    height: 200px;
}

#Spoinage_en_oorlogsvoering {
    border: 1px solid white;
    overflow: hidden;
    width: 600px;
    height: 605.5px;
}

#Footer_aanvallers {
    border: 1px solid white;
    background-color: rgb(56, 101, 185);
    width: 1550px;
    height: 200px;
a{
    color: blue; 
}
}
/*Ik ga hier verder met maatregelen*/ 
#wrapper_maatregelen {
    width: 1175px;
    margin: auto;
}

#Inleiding_maatregelen {
    border: 1px solid white;
    width: 600px;
    height: 700px;
    overflow: hidden;
    float: left;
    ol {
        float: left;
    }
}

#Preventie {
    border: 1px solid white;
    width: 500px;
    height: 250px;
    overflow: hidden;
    float: left;
}

#Detectie {
    border: 1px solid white;
    width: 500px;
    height: 205.5px;
    overflow: hidden;
    float: left;
}

#Repressie_en_correctie {
    border: 1px solid white;
    width: 500px;
    height: 200px;
    float: left;
}

#Symmetrische_encryptie {
    border: 1px solid white;
    overflow: hidden;
    width: 1123px;
    float: left;
}

#Assymetrische_encryptie {
    border: 1px solid white;
    width: 675px;
    height: 600px;
    overflow: hidden;
    float: left;
}

#Wat_kun_je_zelf_doen {
    border: 1px solid white;
    width: 425px;
    height: 600px;
    overflow: hidden;
    float: left;
    ol {
        float: left;
    }
}

#Footer_maatregelen {
    border: 1px solid white;
    background-color: rgb(56, 101, 185);
    width: 1125px;
    a{
        color: blue; 
    }
}
/*Ik ga hier beginnen met SQL-Injecties*/ 
#wrapper_SQL_Injecties {
    width: 1200px;
    margin: auto;
}

#Inleiding_SQL_Injecties {
    border: 1px solid white;
    width: 700px;
}

#Wat_is_een_SQL_injectie {
    border: 1px solid white;
    width: 700px;
}

#Een_SQL_query_manipuleren {
    border: 1px solid white;
    width: 700px;
}

#Structuur_van_een_database_achterhalen {
    border: 1px solid white;
    width: 700px;
}

#SQL_query_uitbreiden {
    border: 1px solid white;
    width: 700px;
}

#SQL_Filmpje {
    border: 1px solid white;
    width: 700px;
}